body {
    background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.facebook-btn {
    background-color: #3b5998 !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    color: #fff !important;
}
.google-btn {
    background-color: rgba(0, 0, 0, 5%) !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    color: rgba(0, 0, 0, 80%) !important;
}
.phone-btn {
    background-color: #369ba2 !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    color: #fff !important;
}
.email-btn {
    background-color: #3f49b0 !important;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
    color: #fff !important;
}
.hbar {
    margin-bottom: 20px;
    height: 10px;
    border: transparent 1px solid;
    border-radius: 100px;
}
.google-hbar {
    background-color: rgba(0, 0, 0, 5%) !important;
}
.facebook-hbar {
    background-color: #3b5998 !important;
}
.email-hbar {
    background-color: #3f49b0 !important;
}
.phone-hbar {
    background-color: #369ba2 !important;
}