<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://www.gstatic.com/firebasejs/9.15.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.15.0/firebase-auth-compat.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <style>

  </style>
  <title>Firebase auth</title>
</head>
<body>
<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Firebase auth</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/login">Login</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/signup">Signup</a>
      </nav>
    </div>
  </header>
  <main>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Login</h1>
      <p class="fs-5 text-muted">
        Sign in to your account using any of providers below.
      </p>
      <!-- List of providers (Login with Email, Phone, Google, Facebook), grid of 4 lines and 1 column -->
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <div class="hbar email-hbar"></div>
              <p class="card-text text-center">
                <img src='img/icons8-mail-48.png' alt='mail'>
              </p>
              <p class="card-text text-center">
                <a href="/login/email" class="w-75 email-btn btn">Login with Email</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <div class="hbar phone-hbar"></div>
              <p class="card-text text-center">
                <img src='img/icons8-phone-48.png' alt='phone'>
              </p>
              <p class="card-text text-center">
                <a href="/login/phone" class="w-75 phone-btn btn">Login with Phone</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <div class="hbar google-hbar"></div>
              <p class="card-text text-center">
                <img src='img/icons8-google-48.png' alt='google'>
              </p>
              <p class="card-text text-center m-0 p-0">
                <button id='google-auth' class="w-75 google-btn btn">Login with Google</button>
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <div class="hbar facebook-hbar"></div>
              <p class="card-text text-center">
                <img src='img/icons8-facebook-48.png' alt='facebook'>
              </p>
              <p class="card-text text-center">
                <button id='facebook-auth' class="w-75 facebook-btn btn">Login with facebook</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    const firebaseConfig = {
      apiKey: "AIzaSyCsqsRd-G2iIEfnADJNLa8jupSN_0b5lXQ",
      authDomain: "fir-auth-23d51.firebaseapp.com",
      projectId: "fir-auth-23d51",
      storageBucket: "fir-auth-23d51.appspot.com",
      messagingSenderId: "983599975596",
      appId: "1:983599975596:web:a33caec7e2610109a66309",
      measurementId: "G-TVHM89YGE9",
      clientId: "983599975596-kbi6kpb5e8v63u7i5098hjmppsjm7ngo.apps.googleusercontent.com",
      scopes: [
        'https://www.googleapis.com/auth/userinfo.email',
        'https://www.googleapis.com/auth/userinfo.profile'
      ]
    };

    firebase.default.initializeApp(firebaseConfig);

    const googleAuth = document.getElementById('google-auth');
    googleAuth.addEventListener('click', () => {
      const googleProvider = new firebase.default.auth.GoogleAuthProvider();
      googleProvider.addScope('https://www.googleapis.com/auth/contacts.readonly');
      firebase.default.auth().signInWithPopup(googleProvider).then((result) => {
        const credential = firebase.default.auth.GoogleAuthProvider.credentialFromResult(result);
        const token = credential.accessToken;
        const user = result.user;
        console.log(result);
      }).catch((error) => {
        console.log(error);
        const errorCode = error.code;
        const errorMessage = error.message;
        const email = error.email
        const credential = firebase.default.auth.GoogleAuthProvider.credentialFromError(error);
      });
    });

    const facebookAuth = document.getElementById('facebook-auth');
    facebookAuth.addEventListener('click', () => {
      const facebookProvider = new firebase.default.auth.FacebookAuthProvider();
      facebookProvider.addScope('user_birthday');
      facebookProvider.setCustomParameters({
        'display': 'popup'
      });
      firebase.default.auth().signInWithPopup(facebookProvider).then((result) => {
        const credential = firebase.default.auth.FacebookAuthProvider.credentialFromResult(result);
        const token = credential.accessToken;
        const user = result.user;
        console.log(result);
      }).catch((error) => {
        console.log(error);
        const errorCode = error.code;
        const errorMessage = error.message;
        const email = error.customData.email;
        const credential = firebase.default.auth.FacebookAuthProvider.credentialFromError(error);
      });
    });
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>