<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>Firebase auth</title>
</head>
<body>
<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Firebase auth</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/login">Login</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/signup">Signup</a>
      </nav>
    </div>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Signup</h1>
      <p class="fs-5 text-muted">
        Sign in to your account using any of providers below.
      </p>
      <!-- List of providers (Signup with Email, Phone, Google, Facebook), grid of 4 lines and 1 column -->
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title text-center">Signup with Email</h5>
              <p class="card-text text-center">
                <i class="fas fa-envelope fa-3x"></i>
              </p>
              <p class="card-text text-center">
                <a href="/signup/email" class="btn btn-primary">Signup with Email</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title text-center">Signup with Phone</h5>
              <p class="card-text text-center">
                <i class="fas fa-phone fa-3x"></i>
              </p>
              <p class="card-text text-center">
                <a href="/signup/phone" class="btn btn-primary">Signup with Phone</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title text-center">Signup with Google</h5>
              <p class="card-text text-center">
                <i class="fab fa-google fa-3x"></i>
              </p>
              <p class="card-text text-center">
                <a href="/signup/google" class="btn btn-primary">Signup with Google</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title text-center">Signup with Facebook</h5>
              <p class="card-text text-center">
                <i class="fab fa-facebook fa-3x"></i>
              </p>
              <p class="card-text text-center">
                <a href="/signup/facebook" class="btn btn-primary">Signup with Facebook</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>