<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://www.gstatic.com/firebasejs/9.15.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/9.15.0/firebase-auth-compat.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <title>Firebase auth</title>
</head>
<body>
<div class="container py-3">
  <header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">Firebase auth</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/login">Login</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/signup">Signup</a>
      </nav>
    </div>
  </header>
  <main>
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h4 class="display-6 fw-normal"> <i class="fas fa-envelope fa-3x"></i> {{ message }}</h4>
      <!-- Forms for email and password, this form should be submitted to /login/email and width of 500px -->
      <form class="w-50 mx-auto">
        <input type="hidden" name="_csrf" value={{{ csrfToken }}}>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" placeholder='Email' id='email' name='email'>
          <label for="email" class="form-label">Email address</label>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" placeholder='Password' id='password' name='password'>
          <label for="password" class="form-label">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary">Login</button>
      </form>
    </div>

    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        const firebaseConfig = {
          apiKey: "AIzaSyCsqsRd-G2iIEfnADJNLa8jupSN_0b5lXQ",
          authDomain: "fir-auth-23d51.firebaseapp.com",
          projectId: "fir-auth-23d51",
          storageBucket: "fir-auth-23d51.appspot.com",
          messagingSenderId: "983599975596",
          appId: "1:983599975596:web:a33caec7e2610109a66309",
          measurementId: "G-TVHM89YGE9"
        };

        firebase.default.initializeApp(firebaseConfig);

        const form = document.querySelector('form');
        form.addEventListener('submit', async (event) => {
          event.preventDefault();
          const email = document.querySelector('#email').value;
          const password = document.querySelector('#password').value;
          firebase.default.auth().signInWithEmailAndPassword(email, password)
            .then(({ user }) => {
              return user.getIdToken().then((idToken) => {
                return fetch("/sessionLogin", {
                  method: "POST",
                  headers: {
                    "Accept": "application/json",
                    "Content-Type": "application/json",
                    "CSRF-Token": Cookies.get("XSRF-TOKEN")
                  },
                  body: JSON.stringify({ idToken: idToken }),
                })
              }).then(() => {
                return firebase.default.auth().signOut();
              }).then(() => {
                window.location.assign("/profile");
              })
            }).catch((error) => {
              console.error(error.message);
            });
          return false;
        });
      });
    </script>
  </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer ></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>